---
INVENTORY_FILE: '/opt/ncubed/ansible/inventories/hosts.yaml'
KNOWN_HOSTS_FILE: '/etc/ssh/ssh_known_hosts'
LOG_FILE: '/var/log/ncubed.attestation_sync.log'

DAS_SERVER: "https://ncubed-das.westeurope.cloudapp.azure.com"
TOKEN: ""

IPV4_PREFIX: "100.69"

IPV6_SUPERNET: "fd69::/64"