[Unit]
Description=ncubed service to sync attestation information with orchestration server

[Service]
Restart=always
RestartSec=10s
ExecStart=/opt/ncubed/attestation-sync.service/attestation-sync.py

[Install]
WantedBy=multi-user.target
