[Unit]
Description=[ NCUBED ] oneshot scripts

[Service]
Type=oneshot
ExecStart=/bin/bash /opt/ncubed/oneshot.service/oneshot

[Install]
WantedBy=multi-user.target
